html,
body {
    height: 100%;
    margin: 20;
    padding: 20;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    overflow: hidden;
    /* Hide any scrollbars */
}

canvas {
    display: block;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

.button:hover {
    background-color: #45a049;
}

h1 {
    color: #333;
}

.home-page body {
    text-align: center;
    padding: 50px;
}

.sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    background: #737373;
    padding-top: 20px;
    left: 0;
    top: 0;
}

.sidebar a {
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
}

.sidebar a:hover {
    background: #2d6c00;
}

.main-content {
    margin-left: 220px;
    padding: 20px;
}

/* CSS to remove number input arrows */
input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
    -webkit-appearance: none;
    /* Chrome, Safari */
    appearance: none;
    /* For other browsers */
    margin: 0;
    /* Remove any margin */
    padding: 5px;
    /* Optional padding */
}

/* Hide the spinner buttons in WebKit browsers (Chrome/Safari) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide spinners in Firefox */
input[type="number"]::-moz-appearance: textfield;